include head.pug
include navbar.pug

h2 Nouveau Client 
form(action="/clients/list/add" method="POST") 
        label(for="/clients/list/add") Prénom
        input(type="text" name="firstname")
        label(for="/clients/list/add") Nom
        input(type="text" name="lastname")
        label(for="/clients/list/add") Email
        input(type="text" name="mail")
        label(for="/clients/list/add") Adresse
        input(type="text" name="address")
        label(for="/clients/list/add" ) Code postal
        input(type="text" name="zipcode")
        input(type="submit" value="Créer")