doctype html
html(lang="en")
        head
                meta(charset="UTF-8") 
                meta(http-equiv="X-UA-Compatible" content="IE=edge") 
                meta(name="viewport" content="width=device-width, initial-scale=1.0")
                title Administration de plats
                link(rel="stylesheet", type="text/css", href="../public/css/index.css")
                block scripts
                        script(src="/socket.io/socket.io.js" type="text/javascript" defer)
                        script(src="../public/js/socketio.js", type="module", defer)
                        script(src="../public/js/interactivity.js", type="module", defer)

body