nav(class="top-page") 
    ul
        li
            h1
                a(href="/users/list")
                    img(src="../public/images/logo_restaurant.webp" alt="logo restaurant")
        li
            h2
                a(href="/users/list") Utilisateurs
        li
            h2
            a(href="/pizza/list") Pizzas
        li
            h2
                a(href="/clients/list") Clients 
        li
            h2
                a(href="/orders/list") Commandes
        li
            h2
                a(href="/orderboy/list") Livreurs
        li
            h2
                a(href="/ingredients/list") Ingrédients
        li
            h2
                a(href="/statistics") Statistiques
        li
            h2
                a(href="/promotions/list") Promotions