include head.pug
include navbar.pug

h2 Supprimer Commande
form(action=`${valueId}` method="POST")
    label(for=`${valueId}`) Command : #{valueID} 
    input(type="text" name="totalPrice" value=`${valueTotalPrice}`) 
    input(type="submit" value="Supprimer Commande")