include head.pug
include navbar.pug

h2 Supprimer Commande
form(action=`${valueID}` method="POST")
    label(for=`${valueID}`) Command : #{valueID} 
    input(type="text" name="totalPrice" value=`${valueTotalPrice}`) 
    input(type="submit" value="Supprimer Commande")