include head.pug
include navbar.pug

h2 Nouveau Livreur
form(action="/orderboy/add" method="POST") 
        label(for="/orderboy/add") Prénom
        input(type="text" name="firstname")
        label(for="/orderboy/add") Nom
        input(type="text" name="lastname")
        label(for="/orderboy/add") Email
        input(type="text" name="mail")
        label(for="/orderboy/add") Vehicule
        input(type="text" name="vehicule")
        input(type="submit" value="Créer")