include head.pug
include navbar.pug

section(class="main-content")
        h3(class="main-content-h3") Nouveau Livreur
        form(action="/orderboy/list/add" method="POST") 
                label(for="/orderboy/list/add") Prénom
                input(type="text" name="firstname")
                label(for="/orderboy/list/add") Nom
                input(type="text" name="lastname")
                label(for="/orderboy/list/add") Email
                input(type="text" name="mail")
                label(for="/orderboy/list/add") Vehicule
                input(type="text" name="vehicule")
                input(type="submit" value="Créer")