include head.pug
include navbar.pug

h2 Nouvelle Pizza
form(action="/pizza/list/add" method="POST") 
        label(for="/pizza/list/add") Nom Pizza
        label(for="/pizza/list/add" ) Prix Pizza en €
        input(type="text" name="pizzaName")
        input(type="text" name="price")
        input(type="submit" value="Créer")