include head.pug
include navbar.pug

h3(class="main-content-h3") Votre liste des
button(class="main-content-btn")
        a(href="/pizza/list/add") Ajouter une nouvelle pizza
table(class="main-content-table")
        tr
            th Nom Pizza
            th Prix €
            th Action
        each obj in values
                tr
                    td #{obj.pizza_name}
                    td #{obj.price} €
                    td
                        button
                            a(href=`/pizza/list/update/${obj.pizza_id}`) edit
                        button
                            a(href=`/pizza/list/delete/${obj.pizza_id}`) delete