
block scripts
        script(src="/socket.io/socket.io.js" type="text/javascript" defer)
        script(src="../public/js/socketio.js", type="module", defer)
        script(src="../public/js/interactivity.js", type="module", defer)