include head.pug
include navbar.pug

h2 Nouveau Utilisateur 
form(action="" method="POST") 
        label(for="/users/add") Nom utilisateur
        input(type="text" name="userName")
        label(for="/users/add") Email
        input(type="text" name="email")
        label(for="/users/add") Mot de passe
        input(type="text" name="password")
        input(type="submit" value="Créer")