include head.pug
include navbar.pug

h2 Nouveau Utilisateur 
form(action="/users/list/add" method="POST") 
        label(for="/users/list/add") Nom utilisateur
        input(type="text" name="userName")
        label(for="/users/list/add") Email
        input(type="text" name="email")
        label(for="/users/list/add") Mot de passe
        input(type="text" name="password")
        input(type="submit" value="Créer")